<%= form_with( model:[post,Comment.new] , remote: true) do |f| %>
    <%if !parent.nil?%>
        <input  type="hidden" name="comment[reply_id]" value="<%= parent.id%>">
    <%end%>
    <div class="d-flex">
        <div class="mb-0 cursor-pointer">
            <p class="reply mb-0">Reply</p>
            <div class="reply-box">
                <div class="">
                    <%= f.rich_text_area :content, :class=>"form-control",input: post.id+rand(1..40000), id: `trix_first_description#{post.id}`, :rows=>"3", :value=>"test"%>
                </div>
                <input  type="hidden" name="comment[user_id]" value="<%= current_user.id%>">

                <input type="submit" value="Submit" class="btn btn-primary d-block w-100 mt-3">
            </div>
        </div>
    </div> 
<% end %>

<script>
document.querySelectorAll(".reply").forEach(element => {
    element.addEventListener("click",(e)=>{
        e.preventDefault();
        element.nextElementSibling.style= "display:block;"
    })
});
</script>