<div class="home">
    <div class="tags-homes">
        MOST RECENT POST
    </div>
    <%= render partial: "pages/post", collection: @posts %>
    <hr/>

    <div class="tags-homes">
        MOST RECENT COMMENT
    </div>
    <%= render partial: "pages/comment", collection: @comments %>

    <hr/>
    <div class="tags-homes">
        MOST RECENT LIKES
    </div>
    <%= render partial: "pages/like", collection: @comments %>
<div>