$("#exampleModalCenter").modal("hide")

$("#exampleFormControlTextarea2").val("")
$("#form_title_input").val("")

$("#post-message").empty().append(`<div><%= t "errors.review"%></div>`)

<%if @post.errors.full_messages.length>0%>
    $("#post-message").empty().append(`<div><%= t "errors.empty_feilds"%></div>`)
<%end%>

