<div class="reported-comment-containor">
   <%if @reported_posts.length === 0%>
     <div class="page-wrap d-flex flex-row align-items-center">
         <div class="container">
            <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                        <span class="display-1 d-block">Opps</span>
                     <div class="mb-4 lead">No Record Found</div>
                     <a href="/" class="btn btn-link">Back to Home</a>
                  </div>
            </div>
         </div>
      </div>
   <%else%>
      <%= render partial: "reports/reported_post", collection: @reported_posts %>
   <%end%>
</div>