<%if  (notice)%>
    <div class="alert alert-info d-flex justify-content-center align-items-center" role="alert">
        <p class="notice"><%= notice %></p>
   
    </div>
<%else%>
<%end%>

<%if  (alert)%>
    <div class="alert alert-danger d-flex justify-content-center align-items-center" role="alert">
       
        <p class="alert"><%= alert %></p>
    </div>
<%else%>
<%end%>


